* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
h2{
  margin:20px;
  text-align: center;
}

.container {
  width: 990px;
  margin: 0 auto;
}

@import "components/header";
@import "components/features";
@import "components/footer";


