* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif; }

h2 {
  margin: 20px;
  text-align: center; }

.container {
  width: 990px;
  margin: 0 auto; }

header {
  background-color: #fcdb00;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: space-between; }
  header .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .navbar .navbar-social {
      justify-content: space-evenly; }
      header .navbar .navbar-social i {
        margin: 0 2px; }
  header .slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between; }
    header .slider .slideshow-container {
      position: relative;
      background: transparent; }
      header .slider .slideshow-container .mySlides {
        display: none;
        padding: 80px;
        text-align: center; }
    header .slider .dot-container {
      text-align: center;
      padding: 20px; }
      header .slider .dot-container .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease; }
        header .slider .dot-container .dot:hover, header .slider .dot-container .dot .active {
          background-color: #717171; }
    header .slider button {
      cursor: pointer;
      padding: 10px 30px;
      background: transparent;
      border: 3px solid black;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      margin: 20px; }
      header .slider button:hover {
        background: black;
        color: white;
        transition: background-color ease 0.5s; }

.features-title {
  margin-top: 60px; }
  .features-title p {
    text-align: center;
    margin: 20px; }

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px; }
  .features .feature-section {
    margin: 10px 40px; }
    .features .feature-section p {
      font-size: 14px; }
  .features .features-left, .features .features-right, .features .features-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

footer {
  background-color: #010101;
  padding-top: 40px; }
  footer .footer-form-description h2 {
    color: #fcdb00;
    text-align: center; }
  footer .footer-form-description p {
    color: #676767;
    text-align: center; }
  footer .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    footer .footer-form input {
      margin: 20px;
      width: 50%;
      padding: 10px 20px;
      border-radius: 10px;
      font-family: 'Poppins', sans-serif; }
    footer .footer-form button {
      padding: 10px 20px;
      background-color: #fcdb00;
      border-radius: 10px;
      border: none;
      font-family: 'Poppins', sans-serif;
      font-weight: bold; }
  footer .footer-info {
    padding: 60px 0 120px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14px; }
    footer .footer-info li {
      list-style: none; }

/*# sourceMappingURL=style.css.map */
