header {
  background-color: #fcdb00;

  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  .navbar {

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-menu {
      position: relative;
      ul {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        opacity: 0;
        width: 200px;
        li {
          display: block;
          list-style-type: none;
          border-bottom: 1px solid #FCDB00;
          text-align: center;
          a {
            padding: 10px 0;
            display: block;
            color: black;
            text-decoration: none;
            &:hover {
              background-color: black;
              color: white;
              transition: all 0.5s;
            }
          }
        }
      }
      &:hover ul {
        opacity: 1;
        transition: opacity 0.5s;
      }
      i{
        width:19px;
      }

    }
    .navbar-social {
      justify-content: space-evenly;
      i {
        margin: 0 2px;
      }
    }
  }
  .slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    .slideshow-container {
      position: relative;
      background: transparent;
      .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
      }
    }
    .dot-container {
      text-align: center;
      padding: 20px;
      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &:hover, .active {
          background-color: #717171;
        }
      }
    }
    button {
      cursor: pointer;
      padding: 10px 30px;
      background: transparent;
      border: 3px solid black;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-align: center;
      border-radius: 3px;
      margin: 20px;
      &:hover {
        background: black;
        color: white;
        transition: all ease 0.5s;
      }
    }
  }
}